/* ======================================================================================================================== */

/* Contents side */

.contents {
    /* background-image: url('/backgroundImage1.jpg');
    background-repeat: no-repeat;
    background-size: cover; */
}

.ganjil-content {
    background-color: rgba(23, 98, 174, 0.686);
    padding: 10rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2rem;
    color: white;
}

.genap-content {
    background-color: rgba(12, 81, 150, 0.686);
    padding: 10rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2rem;
    color: white;
}