
/* HANDLE CONTENT SIDE */


/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* first content side OR first landing page side */
.greet {
    display: inline;
}

.scrollCommand {
    font-family: 'Gloria Hallelujah', cursive;
    color: var(--scroll-down-color);
    display: flex;
    justify-content: center;
}

.scrollCommand p {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 3px;
    padding-top: 25vh;
}

.scrollCommand p .downArrow {
    fill: var(--down-arrow-color);
    animation: bounceArrow 1s ease-in-out infinite;
}

.greeting {
    position: relative;
    padding-top: 25%;
    padding-left: 5rem;
    padding-right: 5rem;
    font-family: var(--greeting-header-font);
    font-size: 45px;
    color: var(--main-text-color);
}

.greeting .words {
    color: var(--main-text-color);
    font-size: 22px;
    opacity: 0.7;
    min-height: 2.5rem;
}

.greeting h2:nth-child(2) {
    color: var(--main-fredo-name-color);
}
/* end of first content side OR first landing page side */


/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* header image side */
.headerImg {
    position: absolute;
    top: 140px;
    left: 800px;
    filter: drop-shadow(2px 3px 25px rgba(0, 0, 0, 0.25));
}
/* end of header image side */


/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* introducing side */
.introduce {
    padding: 5rem;
    display: flex;
    justify-content: center;
    font-family: var(--introduce-font);
    color: var(--main-text-color);
}

.introduce img {
    width: 40%;
    border: 7px solid var(--profile-picture-border-color);
    box-shadow: 12px 14px 32px 4px rgba(0, 0, 0, 0.252);
    object-fit: cover;
    transform: translateX(-100%);
}

.introduce img.show {
    transform: translateX(0);
}

.introduce h3 {
    font-size: 30px;
}

.introduce p {
    font-size: 18px;
    margin-top: 10px;
}

.introduceText {
    max-width: 719px;
    transform: translateX(100%);
}

.introduceText.show {
    transform: translateX(0);
}

.link-sosmed {
    display: flex;
    gap: 1rem;
}

.link-sosmed svg {
    padding-top: 3rem;
    width: 8%;
    cursor: pointer;
}

.link-sosmed svg:hover {
    transform: scale(1.1);
}

/* end of introducing side */


/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* Tech stack content side */
.tech-stack-section {
    padding-top: 4rem;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 1rem;
}

.tech-stack-section .title {
    font-family: var(--greeting-header-font);
    color: var(--main-text-color);
    font-size: 2rem;
    display: flex;
    justify-content: center;
    transform: translateX(-100%);
}

.tech-stack-section .hover-prompt {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 1.2rem;
    opacity: 0;
    color: var(--main-text-color);
}

.tech-stack-section .title.show {
    transform: translateX(0);
}

.tech-stack-section .hover-prompt.show {
    opacity: 0.8;
    animation: bounceSlow 2s ease-in-out infinite;
}

.tech-stack-logos {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1.5rem;
    margin-top: 4rem;
    padding-bottom: 4rem;
}

.tech-stack-logos svg {
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    background-color: var(--svg-logo-background-color);
    width: 10%;
    transform: translateX(-100%);
    opacity: 0;
    transition: 0.5s ease-in-out;
}

.tech-stack-logos svg:nth-child(1) {
    transition: all 0.5s ease 0.2s;
}

.tech-stack-logos svg:nth-child(2) {
    transition: all 0.5s ease 0.3s;
}

.tech-stack-logos svg:nth-child(3) {
    transition: all 0.5s ease 0.4s;
}

.tech-stack-logos svg:nth-child(4) {
    transition: all 0.5s ease 0.5s;
}

.tech-stack-logos svg:nth-child(5) {
    transition: all 0.5s ease 0.6s;
}

.tech-stack-logos svg:nth-child(6) {
    transition: all 0.5s ease 0.7s;
}

.tech-stack-logos svg:nth-child(7) {
    transition: all 0.5s ease 0.8s;
}

.tech-stack-logos svg.slideIn {
    transform: translateX(0);
    opacity: 0.8;
}

.tech-stack-logos svg:hover {
    transform: scale(1.2);
    opacity: 1;
}
/* end of tech stack content side */


/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* Highlighted Projects side */
.projects-section {
    padding-top: 4rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 4rem;
}

.projects-section .title {
    font-family: var(--greeting-header-font);
    color: var(--main-text-color);
    font-size: 2rem;
    display: flex;
    justify-content: center;
    transform: translateX(-100%);
}

.projects-section .title.show {
    transform: translateX(0);
}

.projects-container {
    margin-top: 5rem;
    display: flex;
    justify-content: center;
    gap: 5rem;
}

.projects-container.toggle-pos {
    margin-top: 5rem;
    display: flex;
    justify-content: center;
    gap: 5rem;
}

.projects-container .project-description {
    color: var(--main-text-color);
    font-family: var(--introduce-font);
    max-width: 40vw;
    transform: translateX(-100%);
}

.projects-container .project-description.right {
    color: var(--main-text-color);
    font-family: var(--introduce-font);
    max-width: 40vw;
    transform: translateX(100%);
}

.projects-container .project-description.show {
    transform: translateX(0);
}

.projects-container .project-description.right.show {
    transform: translateX(0);
}

.project-description h3 {
    font-size: 30px;
}

.project-description p {
    font-size: 18px;
    margin-top: 10px;
}

.projects-container .demo-images-wrapper {
    transform: translateX(100%);
}

.projects-container .demo-images-wrapper.left {
    transform: translateX(-100%);
}

.projects-container .demo-images-wrapper.show {
    transform: translateX(0);
}

.projects-container .demo-images-wrapper.left.show {
    transform: translateX(0);
}

.projects-container .demo-images-wrapper img {
    width: 100%;
    object-fit: cover;
    
}

.tech-used-container {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}

.tech-used-container svg {
    width: 15%;
}