

@media screen and (max-width: 576px) {
    /* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
    /* About page side */
    .whois {
        font-size: 20px;
        padding-top: 7rem;
    }

    .headline {
        font-size: 20px;
        padding-bottom: 1rem;
    }

    .category {
        font-size: 15px;
        padding-left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .tech-logos {
        padding-left: 5px;
        padding-right: 5px;
        gap: 1rem;
    }

    .tech-logos .logo-container {
        padding-bottom: 1rem;
        width: 15%;
    }

    .tech-logos .logo-container h4 {
        font-size: 10px;
    }

    .hover-prompt {
        display: none;
    }

    .hover-prompt.spotify {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 15px;
    }

    .section-description.show {
        font-size: 14px;
    }

    .logo-container svg {
        width: 100%;
    }
}