
/* HANDLE RESPONSIVE OF THE GITHUB PAGE STYLING */
@media screen and (max-width: 576px){
    .opening-text .title {
        font-size: 20px;
    }

    .opening-text .description {
        font-size: 15px;
        padding-left: 1rem;
        padding-right: 1rem;
    }
}