@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis&display=swap');

*,html {
    margin: 0;
    padding: 0;
}

html {
    overflow-x: hidden;
    overflow-y: scroll;
}

body {
    overflow-x: hidden;
}

.mainContainer {
    /* background-color: rgb(35, 152, 230); */
    background-color: rgb(0, 0, 0);
    /* background-image: url('/wp9131747-blue-lines-abstract-wallpapers.jpg');
    background-repeat: no-repeat;
    background-size: cover; */
}


/* ======================================================================================================================== */

/* Section handler */
.sec1 {
    overflow: hidden;
    height: 100%;
}


/* ======================================================================================================================== */

/* Header */

.backgroundImageWrapper {
    background-image: url('/assets/backgroundImage3.png');
    background-attachment: fixed;
    background-size: 290%;
    position: absolute;
    width: 100%;
    height: 100%;
    filter: brightness(50%);
}

/* .backgroundImage {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: none;
    filter: brightness(50%);
} */

.textLogo {
    font-family: 'Satisfy', cursive;
    letter-spacing: 3px;
    font-size: 2rem;
    color: white;
}


/* ======================================================================================================================== */

/* NavBar */

.navbarDiv {
    background-color: rgba(3, 44, 74, 0);
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    transition: all 1s ease;
}

.navbarDiv.sticky {
    background-color: rgb(3, 38, 62);
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding-left: 7rem;
    padding-right: 7rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.navBtnContainer {
    /* background-color: rgb(0, 52, 98); */
    display: flex;
    justify-content: flex-end;
    gap: 3rem;
}

.navBtn {
    list-style-type: none;
}

.navbarLinkBtn {
    text-decoration: none;
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 20px;
    color: white;
    transition: all 0.5s;
}

.navbarLinkBtn:hover {
    box-shadow: 6px 9px 0px -2px rgba(0,0,0,0.75);
    -webkit-box-shadow: 6px 9px 0px -2px rgba(0,0,0,0.75);
    -moz-box-shadow: 6px 9px 0px -2px rgba(0,0,0,0.75);
    background-color: rgb(3, 118, 233);
    padding: 0.5rem;
}


/* ======================================================================================================================== */

/* Greetings and scroll command side */

.greetings {
    background-color: rgba(17, 14, 14, 0.512);
    padding-left: 5rem;
    padding-top: calc(50vh - 4.75rem);
    padding-bottom: 8.5vh;
    font-family: 'Poppins', sans-serif;
    font-size: 2rem;
    color: white;
}

.scrollCommand {
    font-family: 'Gloria Hallelujah', cursive;
    color: rgba(255, 255, 255, 0.859);
    display: flex;
    justify-content: center;
}

.scrollCommand p {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3px;
    padding-top: 25vh;
}

.downArrow {
    width: 5%;
    animation: bounce 1s ease-in-out infinite;
}

h2 {
    display: inline;
}

.greetings .greetingText {
    position: relative;
}

.greetings .greetingText h2:nth-child(2) {
    position: absolute;
}

.greetings .greetingText h2:nth-child(2) {
    color: transparent;
    -webkit-text-stroke: 2px rgb(63, 148, 246);
    font-size: 3rem;
}

.greetings .greetingText h2:nth-child(3) {
    color: rgb(63, 148, 246);
    animation: wave 4s ease-in-out infinite;
    font-size: 3rem;
}

.greetings .greetingText .introducingWords {
    margin: auto;
    color: white;
    font-family: 'Handlee', cursive;
    min-height: 5rem;
}

/* ======================================================================================================================== */

/* Footer */

.footer {
    background-color: rgb(31, 142, 221);
    padding-bottom: 5rem;
    padding-top: 1rem;
    color: white;
}


