@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

*,html {
    margin: 0;
    padding: 0;
}

body {
    overflow-x: hidden;
}

.mainContainer {
    /* background-color: rgb(35, 152, 230); */
    background-color: rgb(0, 0, 0);
    /* background-image: url('/wp9131747-blue-lines-abstract-wallpapers.jpg');
    background-repeat: no-repeat;
    background-size: cover; */
}


/* ======================================================================================================================== */

/* Header */

.header {
    background-image: url('/assets/backgroundImage1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.textLogo {
    font-family: 'Satisfy', cursive;
    letter-spacing: 3px;
    font-size: 2rem;
    color: white;
}


/* ======================================================================================================================== */

/* NavBar */

.navbarDiv {
    background-color: rgba(3, 44, 74, 0);
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    transition: all 1s ease;
}

.navbarDiv.sticky {
    background-color: rgb(3, 38, 62);
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding-left: 7rem;
    padding-right: 7rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.navBtnContainer {
    /* background-color: rgb(0, 52, 98); */
    display: flex;
    justify-content: flex-end;
    gap: 3rem;
}

.navBtn {
    list-style-type: none;
}

.navbarLinkBtn {
    text-decoration: none;
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 20px;
    color: white;
    transition: all 0.5s;
}

.navbarLinkBtn:hover {
    box-shadow: 6px 9px 0px -2px rgba(0,0,0,0.75);
    -webkit-box-shadow: 6px 9px 0px -2px rgba(0,0,0,0.75);
    -moz-box-shadow: 6px 9px 0px -2px rgba(0,0,0,0.75);
    background-color: rgb(3, 118, 233);
    padding: 0.5rem;
}


/* ======================================================================================================================== */

/* Greetings */

.greetings {
    background-color: rgba(0, 0, 0, 0.512);
    padding-top: 50vh;
    padding-bottom: 50vh;
    padding-left: 5rem;
    font-family: 'Poppins', sans-serif;
    font-size: 2rem;
    color: white;
    display: flex;
}

h2 {
    display: inline;
}

.greetings .greetingText {
    position: relative;
}

.greetings .greetingText h2:nth-child(2) {
    position: absolute;
}

.greetings .greetingText h2:nth-child(2) {
    color: transparent;
    -webkit-text-stroke: 2px rgb(63, 148, 246);
    font-size: 3rem;
}

.greetings .greetingText h2:nth-child(3) {
    color: rgb(63, 148, 246);
    animation: wave 4s ease-in-out infinite;
    font-size: 3rem;
}

.greetings .greetingText .introducingWords {
    margin: auto;
    color: white;
    font-family: 'Handlee', cursive;
    min-height: 5rem;
}

.sidebar {
    background-color: aquamarine;
    position: absolute;
    height: 100vh;
}


/* ======================================================================================================================== */

/* Contents side */

.contents {
    background-image: url('/backgroundImage1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.ganjil-content {
    background-color: rgba(23, 98, 174, 0.686);
    padding: 10rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2rem;
    color: white;
}

.genap-content {
    background-color: rgba(12, 81, 150, 0.686);
    padding: 10rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2rem;
    color: white;
}


/* ======================================================================================================================== */

/* Footer */

.footer {
    background-color: rgb(31, 142, 221);
    padding-bottom: 5rem;
    padding-top: 1rem;
    color: white;
}

/* ======================================================================================================================== */

/* Hamburger menu icon */

.hamburgerWrapper {
    display: none;
    flex-direction: column;
    height: 20px;
    justify-content: space-between;
    padding-top: 0.4rem;
    position: relative;
}

.hamburgerWrapper span {
    display: block;
    width: 25px;
    height: 3px;
    background-color: white;
    border-radius: 3px;
    transition: all 0.5s;
}

.hamburgerWrapper input {
    position: absolute;
    width: 50px;
    height: 25px;
    left: -12px;
    top: 4px;

    opacity: 0;
    cursor: pointer;
    z-index: 2;
}

/* Hamburger icon Animation */
.hamburgerWrapper span:nth-child(2) {
    transform-origin: 0 0;
}

.hamburgerWrapper span:nth-child(4) {
    transform-origin: 0 100%;
}

.hamburgerWrapper input:checked ~ span:nth-child(2) {
    transform: rotate(45deg) translate(-5px, -1px);
}

.hamburgerWrapper input:checked ~ span:nth-child(4) {
    transform: rotate(-45deg) translate(-3px, 0);
}

.hamburgerWrapper input:checked ~ span:nth-child(3) {
    transform: scale(0);
    opacity: 0;
}


/* ======================================================================================================================== */

/* Animation keyframes */

@keyframes wave {
    0%,
    100% {
        clip-path: polygon(
            0% 45%,
            16% 44%,
            33% 50%,
            54% 60%,
            70% 61%,
            84% 59%,
            100% 52%,
            100% 100%,
            0% 100%
        );
    }

    50% {
        clip-path: polygon(
            0% 60%,
            15% 65%,
            34% 66%,
            51% 62%,
            67% 50%,
            84% 45%,
            100% 46%,
            100% 100%,
            0% 100%
        );
    }
}


/* ======================================================================================================================== */

/* Responsive */

/* ukuran tablet */

@media (max-width: 900px){
    .navbar {
        /* background-color: aqua; */
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        padding-left: 3rem;
        padding-right: 3rem;
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
    }
}


/* ukuran mobile */

@media (max-width: 800px){

    body.overflowHide {
        overflow-y: hidden;
    }

    .textLogo {
        font-size: 1rem;
    }

    .hamburgerWrapper {
        display: flex;
    }

    .navbar {
        /* background-color: aqua; */
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        padding-left: 2rem;
        padding-right: 2rem;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }

    .navBtnContainer {
        background-color: rgba(4, 55, 99, 0.87);
        position: fixed;
        right: 0;
        bottom: 0;
        height: 100vh;
        width: 60%;
        /* max-height: 70rem; */
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        z-index: -1;
        transform: translateX(100%);
        opacity: 0;
        transition: all 1s;
    }

    .navBtnContainer.sticky {
        background-color: rgb(3, 38, 62);
        position: fixed;
        right: 0;
        bottom: 0;
        height: 100vh;
        width: 60%;
        /* max-height: 70rem; */
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        transform: translateX(100%);
        opacity: 0;
        transition: all 1s;
    }

    .navBtnContainer.slide {
        transform: translateX(0);
        opacity: 1;
    }

    .greetings {
        background-color: rgba(0, 0, 0, 0.512);
        padding-top: 15rem;
        padding-bottom: 15rem;
        padding-left: 5rem;
        padding-right: 5rem;
        font-size: 1rem;
        color: white;
    }

    .ganjil-content {
        font-size: 25px;
    }

    .genap-content {
        font-size: 25px;
    }

    .footer {
        font-size: 12px;
    }
}


